*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary2-color: #2b0054;
  --secondary3-color: #4f0b90;
  --main-color: #0883e7;
  --main3-color: #60b3f8;
  --secondary-color: #afc7d6;
  --section-background: #c9ebde;
  --main2-background: #eeeeeeee;
  --section-padding: 60px;
  --main-duration: 0.5s;
  --main-size:20px;
}
a{
  text-decoration:none;
  
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: linear-gradient(40deg,#8a56fe,#50e1e9,#8a56fe);
  background-size: 100%;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}
body::beforse{
  content: "";
  position:fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(65deg,#8a56fe,#50e1e9,#8a56fe);
  z-index: -176;
}
body::after{
  content: "";
  position:fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(65deg,#8a56fe,#50e1e9,#8a56fe);
  z-index: -1555;
}
.background{
  display: flex;
  position: absolute;
  width: 100%;
  background: linear-gradient(65deg,#8a56fe,#50e1e9,#8a56fe);
  background-repeat: no-repeat;
  background-position: cover;
  z-index: -1;
}
p {
  margin: 0px;
  padding: 0px;
}

.head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 97px;
  border-bottom: 1px solid #fff;
}
.navbar-light .navbar-toggler {
  color: var(--main-color);
  margin-right: 10px;
}
.navbar-light .navbar-brand {
  color: var(--secondary2-color);
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
}
.navbar-light .navbar-brand:hover{
  color: var(--main-color);
  font-size: 30px;

}
.navbar-light .navbar-nav .nav-link {
  color: var(--main2-background);
  text-transform: uppercase;
  display: block;
  padding: 30px;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover{
  color:var(--secondary-color);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color: var(--section-background);
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 45px;
}
.navbar-light .navbar-nav .nav-item:hover, .navbar-light .navbar-nav .nav-item:focus{
  color: var(--section-background); 
  border-bottom: 2px solid var(--main-color);
  transition: 0.2s;
}
.navbar-collapse {
  flex-basis: 90%;
  flex-grow: 1;
  align-items: center;
  text-align: center;
}
/* login page */
.header h1{
  display: flex;
  font-size:50px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
  width: 100%;
  margin-top: 50px;
  margin-left: 50px;
}
.header h5{
  display: flex;
  font-size:30px;
  font-weight: bold;
  color:black;
  margin-top: auto;
  margin-left: 50px;
}
.header h5 span{
  color: var(--section-background);
}
.header .btnbox .btnn{

  margin-top: 15px;
  margin-left: 50px;

  width: 150px;
  border-radius: 100pc;
}
.header .btnbox .btnn:hover{
  color:var(--secondary2-color);
  background-color: var(--secondary-color);
}

.img-fluid{
  display: block;
  width: 500px;
  margin-left: auto;
  
}
.container{
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 25px;
  margin-left: 50px;
  z-index: 5;

}
.login{
  display: block;
  width: 100%;
  margin-left: 25px ;
}
.login h1{
  font-weight: bold;
  width: 200px;
  text-align: start;


}
.login .form .inp{
  width: 500px;
}
.header .right{
  position: absolute;
  right: 0;
  top: 0;
  width: 93px;
  height: 467px;
  z-index: -5;
}
.header .left{
  position: absolute;
  left: 0;
  top: 0;
  width: 193px;
  height: 467px;
  z-index: -5; ;
}
/* uultimate guide */

.images .up{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.images .image_group{
  display: flex;
  justify-content: space-between;

}



/* signin page */
.signin{
  display: block;
  width: 100%;
  margin-left: auto ;
}
.signin h1{
  font-weight: bold;
}
.signin .form .inp{
  width: 500px;
}
.Account{
  color: var(--main2-background);
}

@media (max-width:725px) {
  .head{
    background-color: var(--main2-background);
    color: var(--secondary2-color);
  }
  .head .container .collapse{
    background-color: var(--main2-background);
    color: var(--secondary2-color);
  }
  .head .container .collapse .items .nav-link{
    color: var(--secondary2-color);
  }
  .header  .btnbox{
    display: flex;
    margin-right: 50px;
  }
  .header h5 {
    font-size: 20px;
  }
  .header h1 {
    width: 80%;
  }
  .container{
    width: 80%;
    margin-left: 20px;
  }
  .login{
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .login .form .inp{
    width: 80%;
  }
  .signin{
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .signin .form .inp{
    width: 100%;
  }
}
