{% load static %}

<div class="Footer">
    <img class="Logo" src="{% static 'image/image.png' %} " />
    <div class="XperiencedAllRightsReserved">
        <p>© 2024 <span>Xperienced</span>. All rights reserved.</p>
    </div>
    <div class="SocialIcons">
        <div class="IconLinkedin">
        <i class="fa-brands fa-twitter fa-2xl so "></i>

        </div>
        <div class="IconInstagram">
        <div class="Group">
            <i class="fa-brands fa-instagram fa-2xl so"></i>
        </div>
        </div>
        <div class="IconFacebook">
            <i class="fa-brands fa-facebook fa-2xl so"></i>
        </div>
    </div>
  </div>
  
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/nav.js' %}"></script>
  <script src="{% static 'js/all.min.js' %} "></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/aos.js' %} "></script>
  <script src="{% static 'js/jquery.min.js' %} "></script>
  <script src="{% static 'js/popper.js'%} "></script>
  <script src="{% static 'js/bootstrap.min.js' %} "></script>

  </body>
</html>   