{% extends "base.html" %}

{% load static %}
{% block content %}

<div class="container emp-profile mt" data-aos="zoom-in-up">
  <div class="find-assistant">
    
      <span class="find-assistant-15">
          Find Assistant
      </span>
  </div>
<form method="post" id="offer-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title<span class="heading-17-sub-0">*</span></label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Write Title">
        <span id="title-error" ></span>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description<span class="heading-17-sub-0">*</span></label>
        <textarea class="form-control" id="description" name="description" placeholder="Enter a detailed description of your project and attach examples of what you want if possible." rows="3"></textarea>
        <span id="description-error" ></span>
    </div>
    <div class="mb-3 Type_Category">
        <div class="col-md-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-control" id="type" name="type">
        </div>
        <div class="col-md-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" name="category">
        </div>
        <div class="col-md-3">
            <label for="salary" class="form-label">Expected budget</label>
            <input type="number" class="form-control" id="salary" name="salary" placeholder="25$">
            <span id="salary-error" ></span>
        </div>
    </div>
    <div class="mb-3">
        <label>Status: </label><br>
        <select class="inpp" id="status" name="status">
            <option class="inp" value="">Choose</option>
            <option class="inp" value="Full Time">Full Time</option>
            <option class="inp" value="Part Time">Part Time</option>
        </select><br>
        <span id="status-error" ></span>
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label" for="exampleCheck1">Explanatory files</label>
        <div class="frame-10">
            <div class="frame-12">
                <input type="file" name="file" id="file">
                <!-- SVG Icon -->
            </div>
            <div class="frame-11">
                <div class="drag-files-here">Drag files here</div>
                <span class="or-click-to-select-manually">Or click to select manually</span>
            </div>
        </div>
    </div>
    <div class="alert alert-danger d-n" role="alert" id="alart"></div>
    <button class="btn btn-primary" id="btnAdd" type="submit">Submit</button>
</form>

</div>
<script></script>
<script src="{% static 'js/Addoffer.js' %} "></script>

{% endblock content %}