{% load static %}

<div class="Footer">
    <img class="Logo" src="{% static 'image/image.png' %} " />
    <div class="XperiencedAllRightsReserved">
        <p>© 2024 <span>Xperienced</span>. All rights reserved.</p>
    </div>
    <div class="SocialIcons">
        <div class="IconLinkedin">
        <i class="fa-brands fa-twitter fa-2xl so "></i>

        </div>
        <div class="IconInstagram">
        <div class="Group">
            <i class="fa-brands fa-instagram fa-2xl so"></i>
        </div>
        </div>
        <div class="IconFacebook">
            <i class="fa-brands fa-facebook fa-2xl so"></i>
        </div> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </div>
  </div>

  <!-- </div> -->
  <div class="loading">

  <div class="loader" id="loading">
    <ul class="hexagon-container">
      <li class="hexagon hex_1"></li>
      <li class="hexagon hex_2"></li>
      <li class="hexagon hex_3"></li>
      <li class="hexagon hex_4"></li>
      <li class="hexagon hex_5"></li>
      <li class="hexagon hex_6"></li>
      <li class="hexagon hex_7"></li>
    </ul>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>        
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/nav.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/all.min.js' %} "></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/aos.js' %} "></script>
  <script src="{% static 'js/jquery.min.js' %} "></script>
  <script src="{% static 'js/popper.js'%} "></script>
  <script src="{% static 'js/bootstrap.min.js' %} "></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>        
  <script88 src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script8>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
      
  </body>
</html>   