{% load static %}
<!-- start header -->

<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light nav fixed-top  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="logo" src="{% static 'image/image.png' %} " alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link nav-l active " aria-current="page" href="{% url "find_Assistant" %}">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 8.75H17M8 11.75H12.5M2.75 13.26C2.75 14.86 3.873 16.254 5.457 16.487C6.586 16.653 7.727 16.78 8.88 16.866C9.23 16.892 9.55 17.076 9.745 17.367L12.5 21.5L15.255 17.367C15.3516 17.2233 15.4798 17.1034 15.6297 17.0166C15.7795 16.9298 15.9472 16.8783 16.12 16.866C17.2652 16.7805 18.4069 16.6541 19.543 16.487C21.127 16.254 22.25 14.861 22.25 13.259V7.241C22.25 5.639 21.127 4.246 19.543 4.013C17.211 3.67072 14.857 3.49926 12.5 3.5C10.108 3.5 7.756 3.675 5.457 4.013C3.873 4.246 2.75 5.64 2.75 7.241V13.259V13.26Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Find Assistant
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-l" href="{% url "offer_Help" %}">
              <i class="fa-solid fa-plus"></i>                
              Offer Help </a>
          </li>
        </ul>
        <form class="d-flex">
          <a href="{% url 'signup' %}" type="button" class="btn btn-outline-light left">
            <i class="fa-solid fa-user-plus"></i>
            Sign Up
          </a>
          <a href="{% url 'login' %}" type="button" class="btn btn-outline-light right">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>               
            Login
          </a>
        </form>
      </div>
    </div>
  </nav>
</header>
<!-- start landing -->

