{% extends "assistantFinder/base.html" %}
{% load static %}
{% block content %}
<div class="profile profile-Add  ">
        <div class="container-fluid">
        <div class="page-title">
            <div class="row ">
                <div class="col-md-12 breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                        <li class="breadcrumb-item" data-index="1"><a href="{% url 'offer_Help'%}"><bdi>Projects</bdi></a></li>
                        <li class="breadcrumb-item" data-index="2"><a href="#"><bdi>Distance training and education</bdi></a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="head">
                    <h1 class="head-text" >Distance training and education</h1>

                </div>
            </div>
            <div class="roww rr mt-3">
                <div class="main-tab" id="myTabContent">
                    <div class="card  ">
                        <div class="card-body">
                            <div class="card-head">
                            <h5 class="text-head">Project Description</h5>
                            <hr>
                            </div>
                            <div class="card-content">
                            <h6 class="text-26 ">
                                Online lessons to teach the advanced stage of the English language, and then the IELTS, with all the details of the stage, including grammar, conversation, and listening. The teacher must be fluent in speaking English, have an approved methodology in teaching, and be able to give online lessons.
                            </h6>
                            </div>
                        </div>
                        </div>
                        <div class="card  mt-3 ">
                        <div class="card-body">
                            <div class="card-head">
                            <h5 class="text-head">required skills</h5>
                            <hr>
                            </div>
                            <div class="card-content">
                            <ul class="skills  list-tags" >
                                <li class="skill"> 
                                <i class="fa fa-fw fa-tag"></i>
                                <bdi>English language</bdi>
                                </li>
                                <li class="skill"> 
                                <i class="fa fa-fw fa-tag"></i>
                                <bdi>Arabic</bdi>
                                </li>
                                <li class="skill"> 
                                <i class="fa fa-fw fa-tag"></i>
                                <bdi>Private teaching</bdi>
                                </li>
                                <li class="skill"> 
                                <i class="fa fa-fw fa-tag"></i>
                                <bdi>HTML</bdi>
                                </li>
                                <li class="skill"> 
                                <i class="fa fa-fw fa-tag"></i>
                                <bdi>CSS</bdi>
                                </li>
                                <li class="skill"> 
                                <i class="fa fa-fw fa-tag"></i>
                                <bdi>Javascript</bdi>
                                </li>
                                <li class="skill"> 
                                <i class="fa fa-fw fa-tag"></i>
                                <bdi>Front End</bdi>
                                </li>

                            </ul>
                            </div>
                        </div>
                        </div>
                        <div class="card  mt-3 ">
                        <div class="card-body">
                            <div class="card-head">
                            <h5 class="text-head">Add your offer now</h5>
                            <hr>
                            </div>
                            <div class="card-content">
                            <form action="#">
                                <ul class="Add_offer" >
                                    <div class="offer">
                                        <label for="basic-url" class="form-label">Value purpose <span>*</span></label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">EGP</span>
                                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                
                                        </div>
                                    </div>
                                    <div class="offer">
                                        <label for="basic-url" class="form-label">His dues<span>*</span></label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">EGP</span>
                                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    
                                        </div>
                                    </div>        
                                </ul>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Offer details<span class="heading-17-sub-0">*</span></label>
                                    <textarea class="form-control text-field" id="description" placeholder="Enter a detailed description of your project and attach examples of what you want if possible." rows="3" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <input class="form-control  " type="file" id="formFile">
                                </div>  
                                <div class="col-auto btn_s">
                                    <button type="submit" class="btn btn-primary my- mb-3">Confirm identity</button>
                                    </div>      
                            </form>


                            </div>
                        </div>
                        </div>
                </div>
                <div class="column ">
                    <div class="card r-box ">
                    <div class="card-body">
                        <div class="card-head">
                        <h5 class="text-head">Project card</h5>
                        <hr>
                        </div>
                        <div class="card-content">
                            <div class="c-body">
                                <table class="table table-meta">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span title="" data-html="true" data-toggle="tooltip" data-original-title="">Project state</span>
                                            </td>
                                            <td>
                                                <label class="label ">Open</label>
                                            </td>
                                        </tr>
                        
                                        <tr>
                                            <td><span data-html="true" title="" data-toggle="tooltip">Posted</span></td>
                                            <td>5 hours ago</td>
                                        </tr>
                                        <tr>
                                            <td><span data-html="true" title="" data-toggle="tooltip">Budget</span></td>
                                            <td>$25.00 - $50.00</td>
                                        </tr>
                                        <tr>
                                            <td><span data-html="true" title="" data-toggle="tooltip">Implementation period is </span></td>
                                            <td>25 days</td>
                                        </tr>
                                        <tr>
                                            <td><span data-html="true" title="" data-toggle="tooltip">Average offers</span></td>
                                            <td>$50.00</td>
                                        </tr>
                                        <tr>
                                            <td><span data-html="true" title="" data-toggle="tooltip">Number of offers: </span></td>
                                            <td>18</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <br>
                                <div class="row wizardy wizardy-widget text-right no-gutter">
                                    <div class="wizardy__step dps--b ">
                                        

                                        <h5 class="wizardy__label"><i class="fa-solid fa-circle-chevron-right"></i>  The stage of receiving offers </h5>
                                    </div>
                    
                                    <div class="wizardy__step dps--b ">

                                        <h5 class="wizardy__label"><i class="fa-solid fa-circle-chevron-right"></i>  Implementation phase   </h5>
                    
                    
                                    </div>
                    
                                    <div class="wizardy__step dps--b">

                                        <h5 class="wizardy__label"><i class="fa-solid fa-circle-chevron-right"></i>  Implementation phase Delivery phase </h5>
                    
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <div class="card-head">
                                    <h5 class="text-head">project Owner</h5>
                                    <hr>
                                </div>

                                <div class="card-content txt-s">
                                    <div class="c-body">
                                        <div class="media media_vertical-middle mrg--an" data-toggle="tooltip" title="" data-original-title="سيظهر لك حساب صاحب المشروع في حال تواصله معك">
                                            <div class="pull-left">
                                                <div class="profile-card--avatar dsp--f small_avatar_container">
                                                    <img src="https://avatars.hsoubcdn.com/default?s=128" class="img-thumbnail media-object uavatar uavatar--medium img-circle" width="64" height="64" alt="">
                                                    <img class="profile-verification-badge" data-toggle="tooltip" data-placement="top" loading="lazy" src="https://mostaql.hsoubcdn.com/public/assets/images/custom/verification-badge.svg" title="" data-original-title="هوية موثقة">
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="media-body">
                                            <div class="profile-details">
                                                <h5 class="postcard__title profile__name mrg--an">
                                                    <bdi>Elias A.</bdi>
                                                </h5>
                                    
                                                <ul class="list-unstyled text-muted copy  clr-gray-hard mrg--an wb">
                                                    <li>
                                                        <i class="fa fa-fw fa-briefcase"></i>
                                                        <a href="https://mostaql.com/freelancers/website-content-writer"> Website content writer</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="card r-box mt-2">
                    <div class="card-body">
                        <div class="card-head">
                        <h5 class="text-head">Share the project</h5>
                        <hr>
                        </div>
                        <div class="card-content">
                            <!-- <div class="carda__body">
                                <input class="form-control" readonly="" value="" dir="ltr" data-action="selectOnFocus">
                            </div> -->
                            <div class="carda__footer">
                                <a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fmostaql.com%2Fgo%2F687798" class="btn" target="_blank" style="color: white; background-color: #0a66c2;">
                                    <i class="fa-brands fa-facebook"  ></i> Facebook
                                </a>
                                <a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fmostaql.com%2Fgo%2F687798" class="btn" target="_blank" style="color: white; background-color: #0a66c2;">
                                    <i class="fa-brands fa-linkedin-in"></i> linkedin 
                                </a>
                                <a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fmostaql.com%2Fgo%2F687798" class="btn" target="_blank" style="color: white; background-color: #0a66c2;">
                                    <i class="fa-brands fa-twitter"></i> twitter 
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
