{% extends "assistantFinder/base.html" %}

{% load static %}
{% block content %}

<div class="SubContainer">
  <div class="TextContainer">
    <div class="Heading">Find the best instructors for the best learning experience.</div>
  </div>
</div>

<div class="Signin">
  <div class="TextContainer">
    <div class="Heading">Sign Up</div>
    <div class="Paragraph">Welcome Please Sign in to access your account.</div>
  </div>
  <form class="row g-3">
    <div class="col-md-15">
      <label for="inputName" class="form-label">Name : </label>
      <div class="Nam">
        <input type="text" class="form-control-N " id="inputEmail4" placeholder="First Name" required>
        <input type="text" class="form-control-N" id="inputEmail4" placeholder="Last Name" required>
      </div>
      <br>
      <label for="inputEmail4" class="form-label">User Name :</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="USer Name" required>
      <br>
      <label for="inputEmail4" class="form-label">Email :</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
      <br>
      <label for="inputEmail4" class="form-label">Phone :</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Phone Number" required>
      <br>
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" required>
      <br>
      <label for="inputPassword4" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Confirm Password" required>
      <label class="form-check-label ">
        Forgot Password?
      </label>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Remember Me
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" id="btn-primary" type="submit">Sign in</button>
    </div>
    <div class="container-24">
      <div class="line">
      </div>
      <span class="text-25">
        OR
      </span>
      <div class="line-26">
      </div>
    
    </div>
    <a href="#" class="btn btn-outline-primary"><svg class="googlClass" width="48" height="50" viewBox="0 0 48 50" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M46.532,24.553C46.532,22.921 46.4,21.281 46.118,19.676L23.48,19.676L23.48,28.918L36.444,28.918C35.906,31.899 34.178,34.536 31.647,36.211L31.647,42.208L39.381,42.208C43.922,38.028 46.532,31.855 46.532,24.553Z" fill="#4285F4"/>
      <path d="M23.48,48.002C29.953,48.002 35.412,45.876 39.389,42.208L31.655,36.211C29.503,37.675 26.725,38.504 23.489,38.504C17.228,38.504 11.919,34.28 10.014,28.601L2.033,28.601L2.033,34.782C6.107,42.887 14.406,48.002 23.48,48.002L23.48,48.002Z" fill="#34A853"/>
      <path d="M10.006,28.601C9,25.62 9,22.392 10.006,19.411L10.006,13.23L2.033,13.23C-1.371,20.011 -1.371,28.001 2.033,34.782L10.006,28.601L10.006,28.601Z" fill="#FBBC04"/>
      <path d="M23.48,9.499C26.902,9.446 30.209,10.734 32.687,13.097L39.539,6.245C35.2,2.171 29.442,-0.069 23.48,0.002C14.406,0.002 6.107,5.116 2.033,13.23L10.005,19.411C11.901,13.723 17.219,9.499 23.48,9.499L23.48,9.499Z" fill="#EA4335"/>
      </svg>
        Login with Google
      </a> 

        
    <p class="button-34">
      You Have an Account ? <a href="{% url "login" %}">Login</a>
    </p>
  </form>
</div>

{% endblock content %}


